<div class="jumbotron">
  <h1 class="display-4">Scenes Scheduling</h1>
  <p class="lead">
    Minimize the costs of actors staying during the filming of scenes they don't
    participate in.
  </p>
  <hr class="my-4" />
  <p>
    If your scenes aren't shot sequentially, you can use this tool to minimize
    how much time your actors spend during filming.
  </p>
  <p>You can input the data using the graphical tool or paste your string.</p>
  <p>
    Your results will be displayed on a Google Charts Timeline or you can get the result string clicking the button.
  </p>
  <p>The solver has a timeout of five minutes.</p>
  <a class="btn btn-primary btn-lg" routerLink="ci" role="button">Learn more</a>
</div>
